mat-card-content {
  display: flex;
  flex-direction: column;
}

.mat-card-actions .mat-button:first-child,
.mat-card-actions .mat-raised-button:first-child,
.mat-card-actions .mat-stroked-button:first-child {
  margin-right: 8px;
}

// This style is specific to this design
mat-list-item .material-icons {
  font-size: 12px;
  line-height: 24px;
}