<h1 class="mat-display-2">Reset your password</h1>
<mat-horizontal-stepper #stepper labelPosition="bottom" linear>
    <mat-step label="Identify you">
        <mat-card class="example-card">
            <mat-card-title>Identify you</mat-card-title>
            <mat-card-content>
                <form class="flex-form" [formGroup]="firstFormGroup">
                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input matInput color="primary" type="text" formControlName="username" required>
                        <mat-hint>This is the username used to login</mat-hint>
                        <mat-error *ngIf="username.invalid">Username is required</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Enter your email</mat-label>
                        <input matInput placeholder="youremail@example.com" formControlName="email" required>
                        <mat-hint>This is the email we use to contact you</mat-hint>
                        <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="primary" matStepperNext>Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>
    <mat-step label="SMS code">
        <mat-card class="example-card">
            <mat-card-title>We sent you an SMS code</mat-card-title>
            <mat-card-subtitle>
                We've sent your six digit code to the mobile number registered to your account.
            </mat-card-subtitle>
            <mat-card-content>
                <form class="flex-form" [formGroup]="secondFormGroup">
                    <mat-form-field>
                        <mat-label>SMS Code</mat-label>
                        <input matInput color="primary" type="text" formControlName="smsCode" required>
                        <mat-hint>The code is six digits long</mat-hint>
                        <mat-error *ngIf="username.invalid">{{ getSmsCodeErrorMessage() }}</mat-error>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button matStepperPrevious>Back</button>
                <button mat-flat-button color="primary" matStepperNext>Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>
    <mat-step label="Set new password">
        <mat-card class="example-card">
            <mat-card-title>Create your new password</mat-card-title>
            <mat-card-content>
                <form class="flex-form" [formGroup]="thirdFormGroup">
                    <mat-form-field>
                        <mat-label>New Password</mat-label>
                        <input matInput color="primary" [type]="hide ? 'password' : 'text'" formControlName="password"
                            required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="password.invalid">The password you entered is invalid</mat-error>
                    </mat-form-field>
                </form>

                <mat-list>
                    <mat-list-item>
                        <mat-icon color="primary">lens</mat-icon> at least 8 characters long
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon color="primary">lens</mat-icon> at least one letter
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon color="primary">lens</mat-icon> at least one number
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon color="primary">lens</mat-icon> doesn't contain your username
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon color="primary">lens</mat-icon> doesn't contain invalid characters
                    </mat-list-item>
                </mat-list>
                <br>
                <p>Make sure it isn’t based on your name or birthday.</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button matStepperPrevious>Go back</button>
                <button mat-flat-button color="primary">Reset password</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>
</mat-horizontal-stepper>