.flex-form {

  display: flex;
  flex-direction: column;

  .mat-form-field {
    width: 100%;
  }
}

.mat-card-actions .mat-button:first-child,
.mat-card-actions .mat-raised-button:first-child,
.mat-card-actions .mat-stroked-button:first-child {
  margin-right: 8px;
}


mat-list-item .material-icons {
  font-size: 12px;
  line-height: 24px;
}